/* Desktop 1100 */
@media screen and (max-width: 1100px) {
    /* Played */

    .nav-list {
        padding: 0 20px;
    }

    .album {
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        width: calc((100% / 4) - (20px / 2));
    }
}

/* 700 px */
@media screen and (max-width: 700px) {
    /* General */
    h2,
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: .8rem;
    }

    /* Played */
    .col {
        width: calc((100% / 2) - (20px / 2));
    }
    
}


/* 600 px */
@media screen and (max-width: 600px) {
    /* General */
    h2,
    h3 {
        font-size: 1rem;
    }

    p {
        font-size: .8rem;
    }

    /* Sidebar */

    .sidebar{
        width: 50px;
    }

    .logo-big {
        display: none;
    }

    .logo-small {
        display: inline-block;
        width: 15px;
        height: 15px;
    }

    .home-icons {
        display: none;
    }

    .playlist {
        display: none;
    }

    .dowload {
        margin-top: 360px;
    }

    .dowload span,
    hr {
        display: none;
    }

    .dowload i {
        display: block;
    }

    .user {
        margin-top: 10px;
    }

}