/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
/* General */

.wrapper {
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}


/* CONTENT */
.content {
    width: 100%;
}

/* sidebar */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #000000;
}

/* Header */
.header {
    height: 100px;
    width: 100%;
    background-color: #000000;
    opacity: .3;
}

/* Played */
.played {
    height: calc(100% - 100px);
    background-color: #141922;
    overflow-y: auto;
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
}


.nav-list li {
    margin-right: 4rem;
}

.row-recently {
    display: flex;
    padding: 20px;
    gap: 20px;
}

.col {
    width: calc(100% / 6 );
    /* height: 100px; */
    border: 1px solid red;
}
/* PLAY-BAR */
.play-bar {
    height: 100px;
    background-color: #282828;
}