/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

/* COMMON */
/* General */

.wrapper {
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  #A3A3A3;
}


/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #000000;
}

.logo {
    padding:  1rem;
} 

.logo-small {
    display: none;
}

.home {
    padding: 0 1rem;
}

.home-list li {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: .8rem;
}

.home-list img {
    width: 15px;
}

.playlist {
    padding: 0 1rem;
    margin-top: 20px;
}

.list {
    color: #A3A3A3;
}

.list li {
    margin-top: 10px;
    font-weight: 100;
    font-size: .7rem;
}

.list-playlist:hover {
    color: white;
}

.create {
    font-size: .8rem;
    margin-left: 2px;
    font-weight: 300;
}

.plus {
    background-color: #A3A3A3;
    color: black;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
}

.dowload {
    padding: 0 1rem;
    font-weight: 100;
}


.dowload-img {
    width: 10px;
}

.dowload hr {
    margin: 5px 0;
}

.down,
.install {
    color: #A3A3A3;
    font-size: .7rem;
}

.user {
    width: 13px;
    background-color: #A3A3A3;
    border-radius: 50%;
}

.name {
    color: white;
    font-weight: 200;
}

/* CONTENT */
.content {
    overflow-y: auto;
    width: 100%;
}

/* Header */
.header {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    text-align: right;
}

.upgrade {
    display: inline-block;
    color: white;
    font-size: .8rem;
    border: 1px solid white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.upgrade:hover {
    font-size: 1rem;

}


/* Played */
.played {
    height: calc(100% - 100px);
    background-color: #141922;
}

.nav-list {
    text-align: center;
}

.nav-list li {
    display: inline-block;
    margin-right: 1rem;
    font-size: .7rem;
}

.navigations:hover {
    color: white;
    border-bottom: 1px solid orange;
}

.row-recently {
    padding: 20px;
}

.row-recently h2 {
    margin-bottom: 10px;
    color: white;
}

.album {
    display: flex;
    gap: 10px;
}

.album i {
    display: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 65px;
    right: 65px;
}

.col {
    width: calc(100% / 6);
    text-align: center;
    position: relative;
}

.col:hover i {
    display: inline-block;
}

.col:hover {
    opacity: .5;
}



.col h3 {
    padding: 7px 0;
    color: white;
    font-size: .9rem;
}

.subtitle {
    color: #A3A3A3;
    font-size: .6rem;
}

.row-created {
   padding: 20px 20px;
}

.row-created h2 {
    color: white;
}

.row-created p {
    color: #A3A3A3;
    margin: 10px 0;
}


.artists {
    padding: 20px 20px 50px;
}

.artists img {
    border-radius: 50%;
}


/* PLAY-BAR */
.play-bar {
    padding: 20px;
    height: 100px;
    width: 100%;
    background-color: #282828;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer-music {
    display: flex;
}

.music-volume {
    text-align: right;
}


.music-image {
    display: flex;
    margin-right: 30px;
}

.music-image img {
    width: 40px;
    height: 40px;
}

.cover {
    margin-right: 5px;
}

.music-name {
    font-size: .8rem;
    color: white;
    margin-top: 5px;
}

.music-name p {
    color: #A3A3A3;
}

.icons i {
    margin-right: 10px;
    font-size: .8rem;
}

.hearts:hover {
    color: white;
}

.play {
    display: flex;
    justify-content: center;
}

.play li {
    margin-right: 40px;
}

.play i {
    color: white;
    font-size: 1.3rem;
}

.bar-time {
    text-align: center;
}
.bar-time span {
    font-size: .5rem;
    color: white;
}

.music-time {
    border: 1px solid white;
    width: 300px;
    display: inline-block;
    background-color: white;
}

.music-time div {
    border: 1px solid red;
    width: 100px;
}

.volume-bar {
    border: 1px solid white;
    background-color: white;
    width: 100px;
    margin-top: 8px;
}

.volume-bar div {
    border: 1px solid red ;
    width: 20px;
}

.volume {
    display: flex;
}

.volume li {
    margin-right: 10px;
    color: white;
}


