/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

/* COMMON */
/* General */

.wrapper {
    height: calc(100vh - 100px);
    background-color: #141922;
    display: flex;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color:  #A3A3A3;
}


/* SIDEBAR */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #000000;
    position: relative;
}

.logo {
    padding:  1rem;
}

.logo-small {
    display: none;
}

.home {
    padding: 0 1rem;
}

.home-list li {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: .8rem;
}

.home-list img {
    width: 15px;
}

.home-hover:hover {
    color: white;
}


.playlist {
    padding: 0 1rem;
    margin-top: 20px;
}

.list {
    color: #A3A3A3;
}

.list li {
    margin-top: 10px;
    font-weight: 100;
    font-size: .7rem;
}

.list-playlist:hover {
    color: white;
}

.create {
    font-size: .8rem;
    margin-left: 2px;
    font-weight: 300;
}

.plus {
    background-color: #A3A3A3;
    color: black;
    height: 30px;
    width: 30px;
    font-size: 1.5rem;
    display: inline-block;
    text-align: center;
}

.dowload {
    padding: 0 1rem;
    font-weight: 100;
    position: absolute;
    top: 90%;
    left: 0;
}


.dowload-img {
    width: 10px;
}

.dowload hr {
    margin: 5px 0;
}

.down,
.install {
    color: #A3A3A3;
    font-size: .7rem;
}

.install:hover {
    color: white;
}

.user {
    width: 13px;
    background-color: #A3A3A3;
    border-radius: 50%;
}

.name {
    color: white;
    font-weight: 200;
}

/* CONTENT */
.content {
    overflow-y: auto;
    width: 100%;
}

/* Header */
.header {
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
    position: sticky;
    top: 0;
    right: 0;
    z-index: 999;
    text-align: right;
}

.upgrade {
    display: inline-block;
    color: white;
    font-size: .8rem;
    border: 1px solid white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-right: 10px;
}

.upgrade:hover {
    font-size: 1rem;

}


/* Played */
.played {
    height: calc(100% - 100px);
    background-color: #141922;
}

.nav-list {
    text-align: center;
}

.nav-list li {
    display: inline-block;
    margin-right: 1rem;
    font-size: .7rem;
}

.navigations:hover {
    color: white;
    border-bottom: 1px solid orange;
}

.row-recently {
    padding: 20px;
}

.row-recently h2 {
    margin-bottom: 10px;
    color: white;
}

.album {
    display: flex;
    gap: 10px;
}

.album-hover i {
    display: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 40%;
    right: 40%;
}

.album-hover {
    position: relative;
}

.col {
    width: calc(100% / 6);
    text-align: center;
}

.col:hover i {
    display: inline-block;
    color: white;
}

.album-hover:hover img {
    opacity: .5;
}



.col h3 {
    padding: 7px 0;
    color: white;
    font-size: .9rem;
}

.subtitle {
    color: #A3A3A3;
    font-size: .6rem;
}

.row-created {
   padding: 20px 20px;
}

.row-created h2 {
    color: white;
}

.row-created p {
    color: #A3A3A3;
    margin: 10px 0;
}


.artists {
    padding: 20px 20px 50px;
}

.artists img {
    border-radius: 50%;
}


/* PLAY-BAR */
.play-bar {
    padding: 20px;
    height: 100px;
    width: 100%;
    background-color: #282828;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.cover,
.audio {
    width: 200px;
}

.player {
    width: 40%;
}

/* Cover */
.cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover-img {
    width: 30%;
}

.cover-title {
    font-size: .8rem;
    margin-left: 5px
}

.cover-title h4 {
    color: white;
}

.cover-title p {
    color: #A3A3A3;
}

.cover-icon a {
    font-size: 1.2rem;
}

.cover-icon:hover i {
    color: white;
}

/* Player */

.player-icons {
    height: 60%;
}

.player-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1rem;
}

.player-list a {
    color: white;
}

.play {
    font-size: 2rem;
}

.play-icons:hover {
    transform: scale(1.2);
}

.player-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.min-minuts,
.max-minuts {
    width: 20%;
    color: white;
    font-size: .8rem;
}


.bar {
    width: 80%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin-right: 45px;
}

.min-bar {
    width: 30%;
    height: 4px;
    background-color: red;
    border-radius: 2px;
}

/* Audio */

.audio {
    display: flex;
    align-items: center;
}

.audio-list {
    display: flex;
    align-items: center;
}

.audio-list li {
    margin-right: 10px;
    font-size: 1.2rem;
    color: white;
}

.audio-bar {
    height: 4px;
    width: 50%;
    background-color: white;
    border-radius: 2px;
}

.min-audio-bar {
    height: 4px;
    width: 20%;
    background-color: red;
    border-radius: 2px;
}